if SHIELD_ALICE40_LEFT

config ZMK_KEYBOARD_NAME
    default "Alice 40"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ALICE40_LEFT || SHIELD_ALICE40_RIGHT

config ZMK_SPLIT
    default y

endif
